VITE_SPARK_EXCHANGE_ADDRESS=
VITE_SPE_TOKEN_ADDRESS=
VITE_USDT_TOKEN_ADDRESS=
VITE_CHAIN_ID=31337

RPC_URL=http://127.0.0.1:8545
PRIVATE_KEY=

TREASURY_ADDRESS=
BUYBACK_TREASURY_ADDRESS=
INITIAL_REWARD_POOL_SPE=0
